grant {
// write permission granted
    permission java.io.FilePermission "assets/sample2.txt", "read, write";
    permission java.io.FilePermission "<<ALL FILES>>", "read, write, execute";
};
